<%= form_with(model: contract, local: true) do |form| %>
  <% if contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :initialDate %>
    <%= form.datetime_select :initialDate, id: :contract_initialDate %>
  </div>

  <div class="field">
    <%= form.label :finalDate %>
    <%= form.datetime_select :finalDate, id: :contract_finalDate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
