<div class="authform">
  <%= form_with(model: contract, local: true) do |form| %>
    <% if contract.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

        <ul>
        <% contract.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div class="field">
        <%= form.label :"Cliente" %>
        <%= form.select :client, Client.all.collect { 
          |p| [ p.name, p.id ] 
        }, include_blank: false, class: 'form-control'%>
      </div>

    <div class="field">
      <%= form.label :"Data inicial" %>
      <%= form.datetime_select :initialDate, id: :contract_initialDate , class: 'form-control'%>
    </div>

    <div class="field">
      <%= form.label :"Data final" %>
      <%= form.datetime_select :finalDate, id: :contract_finalDate , class: 'form-control'%>
    </div>

  <table>
  <thead>
    <tr>

      <th>Nome</th>
      <th>Valor</th>
      <th>Ativo</th>
      <th>Adicionar ao contrato</th>


    </tr>
  </thead>

  <tbody>
    <% @pecas.each do |peca| %>
      <tr>

        <td height="20%" ><%= peca.name %></td>
        <td><%= peca.value %></td>
        <td><%= peca.active %></td>
        <td><%= check_box_tag 'pecas[]', peca.id, id: peca.id, class: 'form-control'%></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
    



    <div class="actions">
      <%= form.submit 'Cadastrar', :class => 'button right' %>
    </div>
  <% end %>
</div>
