<p id="notice"><%= notice %></p>

<p>
  <strong>Initialdate:</strong>
  <%= @contract.initialDate %>
</p>

<p>
  <strong>Finaldate:</strong>
  <%= @contract.finalDate %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
