<p id="notice"><%= notice %></p>

<h1>Peças</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"> Nome</th>
    </tr>
  </thead>

  <tbody>
    <% @pecas.each do |peca| %>
      <tr>
        <td><%= peca.name %></td>
        <td><%= link_to 'Show', peca %></td>
        <td><%= link_to 'Edit', edit_peca_path(peca) %></td>
        <td><%= link_to 'Destroy', peca, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Peça', new_peca_path %>
