
<div class='show-button'>
  <a href="<%=new_peca_path%>" class="btn btn-primary btn-client">Nova Peça</a>
</div>


<h1 align="center">Peças</h1>

<table width="100%" border="1.5px">
  <thead>
    <div class="col-md-12">
    <tr >
      <th width="20%"><div class="col-md-3">Nome</div></th>
      <th><div class="col-md-3">Valor</div></th>
      <th><div class="col-md-3">Ativo</div></th>
     
      <th colspan="3"></th>
    </tr>
  </div>
  </thead>

  <tbody>
    <% @pecas.each do |peca| %>
    <div class="col-md-12">
      <tr>
        <td height="20%"><div class="col-md-3"><%=peca.name %></div></td>
        <td><div class="col-md-3"><%=peca.value%></div></td>
        <td><div class="col-md-3"><%=peca.active%></div></td>

        <td><%= link_to  '<i class="fa fa-eye"></i>'.html_safe, peca %></td>
        <td><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_peca_path(peca) %></td>
        <td><%= link_to '<i class="fa fa-trash"></i>'.html_safe, peca, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    </div>
    <% end %>
  </tbody>
</table>