<p id="notice"><%= notice %></p>

<h1>Peças</h1>



<table class="table">
  <thead>
    <tr>
      <th> Nome</th>
      <th> Valor</th>
      <th> Ativa</th>
      <th> Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @pecas.each do |peca| %>
      <tr>
        <td><%= peca.name %></td>
        <td><%= peca.value %></td>
        <td><%= peca.active %></td>
        <td><%= link_to 'Show', peca %> <%= link_to 'Edit', edit_peca_path(peca) %> <%= link_to 'Destroy', peca, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Peça', new_peca_path %>

