<p id="notice"><%= notice %></p>
<div class="field">
  <strong>Nome:</strong>
  <%= @peca.name %>
</div>

<p>
  <strong>Valor:</strong>
  <%= @peca.value %>
</p>
<p>
  <strong>Ativo:</strong>
  <%= @peca.active %>
</p>
<%= link_to 'Edit', edit_peca_path(@peca) %> |
<%= link_to 'Back', pecas_path %>
