<p id="notice"><%= notice %></p>

<h1>Clients</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>    
      <th scope="col">Cpf</th>
      <th scope="col">Cnpj</th>
      <th scope="col">Código de área</th>
      <th scope="col">Telefone</th>
      <th scope="col">CEP</th>
      <th scope="col">Rua</th>
      <th scope="col">Número</th>
      <th scope="col">Bairro</th>
      <th scope="col">Cidade</th>
      <th scope="col">Estado</th>
      <th scope="col">Açôes</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.cpf %></td>
        <td><%= client.cnpj %></td>
        <td><%= client.areaCode %></td>
        <td><%= client.phone %></td>
        <td><%= client.zipCode %></td>
        <td><%= client.street %></td>
        <td><%= client.number %></td>
        <td><%= client.neighborhood %></td>
        <td><%= client.city %></td>
        <td><%= client.state %></td>
        <td><%= link_to 'Show', client %> <%= link_to 'Edit', edit_client_path(client) %> <%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

<br/>

<%= link_to 'New Client', new_client_path %>
