<div class='show-button'>
  <a href="<%=new_client_path%>" class="btn btn-primary btn-client">Novo Cliente</a>
</div>



<h1 align="center">Clientes</h1>

<table width="100%" border="1.5px">
  <thead>
    <tr >
      <th width="20%">Nome</th>
      <th>CPF</th>
      <th>CNPJ</th>
      <th>Telefone</th>
      <th>Rua</th>
      <th>Nº</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td height="20%"><%=client.name %></td>
        <td><%= client.cpf %></td>
        <td><%= client.cnpj %></td>
        <td>(<%= client.areaCode %>) <%= client.phone %></td>
        <td><%= client.street %></td>
        <td><%= client.number %></td>
        <td><%= client.neighborhood %></td>
        <td><%= client.city %></td>
        <td><%= client.state %></td>
        <td><%= link_to  '<i class="fa fa-eye"></i>'.html_safe, client %></td>
        <td><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_client_path(client) %></td>
        <td><%= link_to '<i class="fa fa-trash"></i>'.html_safe, client, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



