<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @client.cpf %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @client.cnpj %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Areacode:</strong>
  <%= @client.areaCode %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @client.zipCode %>
</p>

<p>
  <strong>Street:</strong>
  <%= @client.street %>
</p>

<p>
  <strong>Number:</strong>
  <%= @client.number %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @client.neighborhood %>
</p>

<p>
  <strong>City:</strong>
  <%= @client.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @client.state %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
