<div class="authform">
<%= form_with(model: request, local: true) do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :"esse pedido é de um contrato?" %>
    <%= form.check_box :is_contract, id: :request_is_contract , class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :Observação %>
    <%= form.text_field :observation, id: :request_observation, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Pago %>
    <%= form.check_box :paid, id: :request_paid , class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :Aberto %>
    <%= form.check_box :open, id: :request_open , class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :"Data de entrega" %> <%= form.text_field :delivery, id: :request_delivery , class: 'form-control'%>
  </div>



  <table>
  <thead>
    <tr>
      
      <th>Nome</th>
      <th>Valor</th>
      <th>Ativo</th>
      <th>Adicionar ao pedido</th>


    </tr>
  </thead>

  <tbody>
    <% @pecas.each do |peca| %>
      <tr>

        <td height="20%" ><%= peca.name %></td>
        <td><%= peca.value %></td>
        <td><%= peca.active %></td>
        <td><%= check_box_tag 'pecas[]', peca.id, id: peca.id, class: 'form-control'%></td>
        
      </tr>
    <% end %>
  </tbody>
</table>




  <div class="actions">
    <%= form.submit 'cadastrar',:class => 'button right'%>
  </div>

<% end %>
 </div>