<div class='show-button'>
  <a href="<%=new_request_path%>" class="btn btn-primary btn-client">Novo Pedido</a>
</div>

<h1 align="center">Pedidos</h1>

<table width="100%" border="1.5px">
  <thead>
    <tr>
      <th><div class="col-md-3">Pertence a um contrato</div></th>
      <th><div class="col-md-3">Observação</div></th>
      <th><div class="col-md-3">Pago</div></th>
      <th><div class="col-md-3">Aberto</div></th>
      <th><div class="col-md-3">Data de Entraga</div></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td width="10%"><div class="col-md-3"><%= request.is_contract %></div></td>
        <td width="30%"><div class="col-md-3"><%= request.observation %></div></td>
        <td><div class="col-md-3"><%= request.paid %></div></td>
        <td><div class="col-md-3"><%= request.open %></div></td>
        <td><div class="col-md-3"><%= request.delivery %></div></td>
        <td><%= link_to '<i class="fa fa-eye"></i>'.html_safe, request %></td>
        <td><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_request_path(request) %></td>
        <td><%= link_to '<i class="fa fa-trash"></i>'.html_safe, request, method: :delete, data: { confirm: 'Voce tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


