<p id="notice"><%= notice %></p>

<p>
  <strong>Pertence a um contrato?:</strong>
  <%= @request.is_contract %>
</p>

<p>
  <strong>Observação:</strong>
  <%= @request.observation %>
</p>

<p>
  <strong>Pago:</strong>
  <%= @request.paid %>
</p>

<p>
  <strong>Aberto:</strong>
  <%= @request.open %>
</p>

<p>
  <strong>Data de Entrega:</strong>
  <%= @request.delivery %>
</p>

<%= link_to 'Editar', edit_request_path(@request) %> |
<%= link_to 'Voltar', requests_path %>
