
<div class="show-container col-md-12">
  <h3 class="show-title">Exibindo Peça</h3>

    <div class="col-md-4 col-md-offset-4 show-content">
      <div class="col-md-6 show-labels">
        <p>Pertence a um contrato?  <%= @request.is_contract %> </p>
        <p>Observação: <%= @request.observation %> </p>
        <p>Pago: <%= @request.paid %> </p>
        <p>Aberto: <%= @request.open %> </p>
        <p>Data de Entrega: <%= @request.delivery %> </p>

      </div>
      
    </div>
    <div class="col-sm-12 show-actions-btn" >
      <p><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_request_path(@request) %> | <%= link_to '<i class="fa fa-undo"></i>'.html_safe, requests_path %></p>
    </div>
  <br>
  <br>
</div>

