
<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="/">
                Start Bootstrap
            </a>
        </li>
        <% if user_signed_in? %>
            <% if current_user.try(:admin?) %>
                <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to 'Home', root_path %></li>
                <li class="<%= 'active' if current_page?(page_path('about')) %>"><%= link_to 'Sobre', page_path('about') %></li>                
                <li class="<%= 'active' if current_page?(edit_user_registration_path) %>"><%= link_to 'Editar Conta', edit_user_registration_path %></li>
                <li class="<%= 'active' if current_page?(clients_url) %>"><%= link_to 'Clientes', clients_url %></li>
                <li class="<%= 'active' if current_page?(users_path) %>"><%= link_to 'Usuarios', users_path %></li>
                <li class="<%= 'active' if current_page?(contracts_url) %>"><%= link_to 'Contratos', contracts_url %></li>
                <li class="<%= 'active' if current_page?(pecas_url) %>"><%= link_to 'Peças', pecas_url %></li>
                <li  class="<%= 'active' if current_page?(destroy_user_session_path) %>"><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
             <% end %>
        <% else %>
            <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to 'Home', root_path %></li>
            <li class="<%= 'active' if current_page?(page_path('about')) %>"><%= link_to 'Sobre', page_path('about') %></li>
            <li class="<%= 'active' if current_page?(new_user_session_path) %>"><%= link_to 'Sign in', new_user_session_path %></li>
        <% end %>
    </ul>
</div>
<!-- /#sidebar-wrapper -->

